.header-container {
  width: 100%;
  max-width: 1440px;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0% 2.5%;
  padding: 2.5% 0;
  border-bottom: 1px solid var(--color-grey);
}

.header-container > a {
  color: var(--color-darkgrey);
  text-decoration: none;
}

.header-container > a:hover {
  color: var(--color-black);
}

/*------------------------------GRID CONTAINER-----------------------------*/

body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 1500px;
  max-height: 1500px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1500px;
  margin: 40px 0;
}

.gallery-artist {
  width: 300px;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}

/* .gallery-artist h3 {
  position: relative;
  bottom: 70px;
  left: 10px;
  text-shadow: 3px 3px 5px black;
}

.gallery-artist p {
  position: relative;
  bottom: 30px;
  left: 10px;
  text-shadow: 3px 3px 5px black;
} */

.text-wrapper {
  position: relative;
  bottom: 70px;
  background-color: rgba(0, 0, 0, 30%);
  padding: 2px 2px 2px 10px;
  text-shadow: 3px 3px 5px black;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 30%);
}

.gallery-artist img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery-artist img:hover {
  width: 110%;
  height: auto;
}
